<div class="content">
	<%= form_tag search_questions_path do %>
	<input class="search full-width" id= "searchbar" name="query" placeholder="Search questions" type = "text" autocomplete="off">
	<% end %>
</div>
