<h1>Answers</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @answers.each do |answer| %>
    <tr>
      <td><%= answer.question_id %></td>
      <td><%= answer.text %></td>
    </tr>
  <% end %>
</table>