/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	color: #222222;
	line-height: 1.7; }
h1 {
	font-size: 2.75rem; }
h2 {
	font-size: 1.6875rem; }
h3 {
	font-size: 1.375rem; }
h4 {
	font-size: 1.125rem; }
h5 {
	font-size: 1.125rem; }
h6 {
	font-size: 1rem; }

/* Base element styles */
html {
	background-color: white;
	color: black;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 22px;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 32px 0;
	list-style: disc;
	padding-left: 32px;
}

ul li { padding: 8px 0; }

p {
	margin: 16px 0;
	line-height: 1.8;
}

section { padding: 6rem 0 3rem; }

.content {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	float: center;
}

/* Navbar Styles */
.navbar-wrapper {
	height: 64px;
}

nav {
	height: 64px;
	width: 100%;
	position: fixed;
	top: 0;
	background: #f5f5f5;
	z-index: 2;
}
nav ul {
	height: 64px;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 0;
	list-style: none;
}
nav ul li {
	font-size: 16px;
	padding: 0;
	display: inline-block;
}
nav ul li p {
	height: 32px;
	line-height: 32px;
	margin: 0;
	padding: 16px 16px;
}
nav ul li:hover {
	cursor: pointer;
	background-color: #eee;
}
nav ul li.action-item {
	color: white;
	background-color: #0fa8f7;
}
nav ul li.action-item:hover {
	color: white;
	background-color: #00b0ff;
}
nav ul.right { float: right; }


