// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
	padding-top: 30px;
}

.post:hover {
	background-color: #eee;
}

.question p {
	padding-bottom: 60px;
}